.oh-my-zsh
Applications
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
VirtualBox VMs
hackermonthly
tools
tmp
mz.key
mz.crt
ycm_build
bin
dev
go
.cache
.boot2docker
.android
.Genymobile
.MacOSX
.adom
.avidemux6
.avn
.clicli
.codeintel
.config
.configprops
.cordova
.cups
.datastorage
.dbshell
.dropbox
.filezilla
.gem
.ghc
.gradle
.grails
.grails_history
.gvm
.npm
.nvm
.pm2
.pre-commit
.objectdb
.plugman
.pm2
.profile
.putty
.rnd
.rvm
.vim/bundle


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
