# Function
snippet fun
	function ${1:function_name}(${2:argument}) {
		${0:// body...}
	}

# Anonymous Function
snippet f
	function (${1}) {
		${0}
	}${2:;}

# it
snippet it
	it("${1}", function() {
	  ${0}	
	});

# describe
snippet describe
	describe("${1}", function() {
	  ${0}	
	});

# beforeEach
snippet bef
	beforeEach(function() {
	  ${1}	
	});

#debugger
snippet dbg
	debugger;
